@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    body{

        background-color: #e1dabd;
        overflow-x: hidden;
        overflow: hidden;
        -webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
    }

    /*Heart*/

    .heart {
        position: relative;
        background: red;
        height: 16px;
        width: 16px;
        transform: rotate(-45deg);
    }

    .heart::after {
        position: absolute;
        background: inherit;
        border-radius: 50%;
        content:'';
        top: -50%;
        left: 0;
        height: 16px;
        width: 16px;
        z-index: 994;
    }

    .heart::before {
        position: absolute;
        background: inherit;
        border-radius: 50%;
        content:'';
        top: 0;
        right: -50%;
        height: 16px;
        width: 16px;
        z-index: 994;
    }

    .heart:not(:active) {
        -webkit-animation-name: falling, shake;
		-webkit-animation-duration: 8s, 3s;
		-webkit-animation-timing-function: linear, linear;
		-webkit-animation-iteration-count: 1, 2.5;
		-webkit-animation-play-state: running, running;
		animation-name: falling, shake;
		animation-duration: 8s, 3s;
		animation-timing-function: linear, ease-in-out;
		animation-iteration-count: 1, 2.5;
		animation-play-state: running, running;
    }

    @keyframes falling {
        0%{
            transform: translateY(0px);
        }

        100% {
            transform: translateY(1000px);
        }
    }

    @keyframes shake {
		0%,
        100% {
			right: 0
		}
        50%{
            right: 80px
        }
	}

    /*Titulo Hello*/
    .titulo-hello::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: #e1dabd;
        border-left: 2px solid #000;
        animation: typing 1s steps(8) 1 forwards,
                    typingbar 1s 2s infinite;
    }

    @keyframes typingbar {
        0%{
            opacity: 1
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typing {

        0%{
            left: 0;
        }

        95%{
            background-color: #e1dabd;
        }
        100%{
            left: 100%;
            background-color: transparent;
        }
    }

    /*Paragraph Hello*/

    .p-hello::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #e1dabd;
        border-left: 2px solid #000;
        animation: typingp 1s steps(8) 1 forwards,
                    typingbarp 1s 1.1s infinite;
    }

    @keyframes typingbarp {
        0%{
            opacity: 0
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingp {

        0%{
            left: 0;
        }

        100%{
            left: 100%;
        }
    }

     /*Titulo Stack*/
     .titulo-stack::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: #d0e37f;
        border-left: 2px solid #000;
        animation: typingstack 1s steps(8) 1 forwards,
                    typingbarstack 1s 2s infinite;
    }

    @keyframes typingbarstack {
        0%{
            opacity: 1
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingstack {

        0%{
            left: 0;
        }

        95%{
            background-color: #d0e37f;
        }
        100%{
            left: 100%;
            background-color: transparent;
        }
    }

    /*Paragraph Stack*/

    .p-stack::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #d0e37f;
        border-left: 2px solid #000;
        animation: typingpstack 1s steps(8) 1 forwards,
                    typingbarpstack 1s 1.1s infinite;
    }

    @keyframes typingbarpstack {
        0%{
            opacity: 0
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingpstack {

        0%{
            left: 0;
        }

        100%{
            left: 100%;
        }
    }

    /*Titulo Webpages*/
    .titulo-webpages::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #c0f8d1;
        border-left: 2px solid #000;
        animation: typingwebpages 1s steps(8) 1 forwards,
                    typingbarwebpages 1s 2s infinite;
    }

    @keyframes typingbarwebpages {
        0%{
            opacity: 1
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingwebpages {

        0%{
            left: 0;
        }

        95%{
            background-color: #c0f8d1;
        }
        100%{
            left: 100%;
            background-color: transparent;
        }
    }

    /*Paragraph Webpages*/

    .p-webpages::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #c0f8d1;
        border-left: 2px solid #000;
        animation: typingp 1s steps(8) 1 forwards,
                    typingbarp 1s 1.1s infinite;
    }

    @keyframes typingbarpwebpages {
        0%{
            opacity: 0
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingpwebpages {

        0%{
            left: 0;
        }

        100%{
            left: 100%;
        }
    }


    /*Titulo Resumee*/
    .titulo-resumee::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: #95a78d;
        border-left: 2px solid #000;
        animation: typingstackresumee 1s steps(8) 1 forwards,
                    typingbarstackresumee 1s 2s infinite;
    }

    @keyframes typingbarstackresumee {
        0%{
            opacity: 1
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingstackresumee {

        0%{
            left: 0;
        }

        95%{
            background-color: #95a78d;
        }
        100%{
            left: 100%;
            background-color: transparent;
        }
    }

    /*Paragraph Resumee*/

    .p-resumee::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #95a78d;
        border-left: 2px solid #000;
        animation: typingpstackresumee 1s steps(8) 1 forwards,
                    typingbarpstackresumee 1s 1.1s infinite;
    }

    @keyframes typingbarpstackresumee {
        0%{
            opacity: 0
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingpstackresumee {

        0%{
            left: 0;
        }

        100%{
            left: 100%;
        }
    }



    /*Titulo Contact*/
    .titulo-contact::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        height: 80%;
        width: 100%;
        background-color: #c8c6af;
        border-left: 2px solid #000;
        animation: typingcontact 1s steps(8) 1 forwards,
                    typingbarcontact 1s 2s infinite;
    }

    @keyframes typingbarcontact {
        0%{
            opacity: 1
        }
        100%{
            opacity: 0;
        }
    }

    @keyframes typingcontact {

        0%{
            left: 0;
        }

        95%{
            background-color: #c8c6af;
        }
        100%{
            left: 100%;
            background-color: transparent;
        }
    }

    /*Paragraph Resumee*/

    .p-contact::after {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #c8c6af;
        border-left: 2px solid #000;
        animation: typingpcontact 1s steps(8) 1 forwards,
                    typingbarpcontact 1s 1.1s infinite;
    }

    @keyframes typingbarpcontact {
        0%{
            opacity: 0
        }
        100%{
            opacity: 0
        }
    }

    @keyframes typingpcontact {

        0%{
            left: 0;
        }

        100%{
            left: 100%;
        }
    }

    /*Waves*/

    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: url(./assets/wave-black.png);
        background-size: 1000px 100px;
    }

    .wave1 {
        animation: animate 30s linear infinite;
        z-index: 1000;
        opacity: 1;
        animation-delay: 0s;
        bottom: 0;
    }

    @keyframes animate {
        0%{
            background-position-x: 0;
        }

        100%{
            background-position-x: 1000px;
        }
    }

    .wave2 {
        animation: animate2 15s linear infinite;
        z-index: 999;
        opacity: 0.5;
        animation-delay: -5s;
        bottom: 10px;
    }

    @keyframes animate2 {
        0%{
            background-position-x: 0;
        }

        100%{
            background-position-x: -1000px;
        }
    }

    .wave3 {
        animation: animate2 30s linear infinite;
        z-index: 998;
        opacity: 0.2;
        animation-delay: -2s;
        bottom: 15;
    }

    .wave4 {
        animation: animate2 5s linear infinite;
        z-index: 997;
        opacity: 0.7;
        animation-delay: -5s;
        bottom: 20px;
    }
    

    /*Hamburger*/
    .button-one {
      background: transparent;
      border-radius: 1rem;
    }

    .button-one .line{
        transition: 
            y 225ms ease-in 225ms,
            rotate 225ms ease-in,
            opacity 0ms 225ms
        ;
        transform-origin: center;
    }
    
    .button-one[aria-expanded="true"] .line{
        transition: 
            y 225ms ease-in,
            rotate 225ms ease-in 225ms,
            opacity 0ms 225ms
        ;
    }

    .button-one[aria-expanded="true"] :is(.line-top, .line-bottom){
        y: 45;
    }

    .button-one[aria-expanded="true"] .line-top{
        rotate: 45deg;
    }

    .button-one[aria-expanded="true"] .line-bottom{
        rotate: -45deg;
    }

    .button-one[aria-expanded="true"] .line-middle{
        opacity: 0;
    }

  }